.footer 
    .footer_menu   
        span subscribe
        span about us
        span contact 
    .footer_sns 
        span
            i.fab.fa-instagram 
        span
            i.fab.fa-youtube 