.header 
    .header_box.header_box1
        span couture house_soeul
    .header_box.header_box2
        a(href="/")  
            span home
        a(href="/mission")
            span mission
        a(href="/archive") 
            span archive
        a(href="/#")
            span shop
        if user
            a(href="/upload") 
                span upload
            a(href="/logout")
                span logout 
    .header_box.header_box3
        span
            a(href="https://www.instagram.com/couturecottage_official/") 
                i.fab.fa-instagram
        span
            i.fab.fa-youtube
        span
            i.fab.fa-shopping-cart
