extends layout/main

block content
    .detail_container 
        .detail_box 
            .detail_title 
                span top
                span tmcb030
            .detail_img_main 
                .detail_img_box 
                    img(src="#") 
            .detail_img_sub
                .detail_img_box 
                    img(src="#")
                .detail_img_box 
                    img(src="#")
                .detail_img_box 
                    img(src="#")
            .detail_description
                .detail_description_box 
                    .detail_description_content 
                        | 2pc sleeve
                        | (darts on sleeve cap)
                        | +
                        | 1pc bodice
                        | (slash on neck, narrow shoulder)