extends layout/main
include mixins/imgBlock

block content 
    .article 
        .article_title
            span to inspire the future generation of designers and pattern makers of the craft
        .article_main
            if result
                each imgData in result
                    +imgBlock({
                        id:imgData.id,
                        path:imgData.path,
                        title:imgData.title
                    }) 
                    +imgBlock({
                        path:imgData.path,
                        title:imgData.title
                    }) 
                    +imgBlock({
                        path:imgData.path,
                        title:imgData.title
                    }) 
                    +imgBlock({
                        path:imgData.path,
                        title:imgData.title
                    }) 
                    +imgBlock({
                        path:imgData.path,
                        title:imgData.title
                    }) 
                    +imgBlock({
                        path:imgData.path,
                        title:imgData.title
                    }) 
                    +imgBlock({
                        path:imgData.path,
                        title:imgData.title
                    }) 
                    +imgBlock({
                        path:imgData.path,
                        title:imgData.title
                    }) 
                    +imgBlock({
                        path:imgData.path,
                        title:imgData.title
                    }) 
                    +imgBlock({
                        path:imgData.path,
                        title:imgData.title
                    }) 

