.login_container{
    height: 100vh;
}

.login_box{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login_title{
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}

.login_form{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
}

.login_input{
    text-align: center;
    border-style: none;
    border-radius: 10px;
    height: 50px;
}

.login_id{
    margin-bottom: 20px;
}

.login_pw{
    margin-bottom: 20px;
}

.login_submit{
    font-size: 20px;
    background-color: #34495E;
}

.login_submit:hover{
    cursor: pointer;
}